

    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
        <img src="{{product.image}}" class="card-img-top"
          alt="">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Category & Title-->
        <a routerLink="/product/{{product.productId}}" class="grey-text">
          <h5>{{product.category?.categoryName}}</h5>
        </a>
        <h5>
          <strong>
            <a routerLink="/product/{{product.productId}}" class="dark-grey-text">{{product.productName}}</a>

          </strong>
        </h5>

        <h4 class="font-weight-bold blue-text">
          <strong>{{product.price}}$</strong>
        </h4>
        <button class="btn btn-primary btn-md my-0 p" type="button" (click)="addToCart.emit(product)">Add to cart
          <i class="fas fa-shopping-cart ml-1"></i>
        </button>

      </div>
      <!--Card content-->

    </div>
    <!--Card-->


