<nav class="d-flex justify-content-center wow fadeIn">
  <ul class="pagination pg-blue">

    <!--Arrow left-->
    <li class="page-item " [ngClass]="currentPage===0?'disabled':''" (click)="onPageChange.emit(currentPage-1)">
      <a class="page-link"  aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>


    <li class="page-item " *ngFor="let pageNumber of [].constructor(totalPages),let i =index" [ngClass]="i===currentPage ? 'active':''">
      <a class="page-link"  (click)="onPageChange.emit(i)">{{i+1}}
      </a>
    </li>


    <li class="page-item" [ngClass]="currentPage===(totalPages-1)?'disabled':''" (click)="onPageChange.emit(currentPage+1)">
      <a class="page-link"  aria-label="Next"  >
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
