<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn" style="
position: relative;
bottom: 0;
left: 0;
width: 100%;
">
<!--Call to action-->
<div class="pt-4">
  <a class="btn btn-outline-white"
    role="button">My Shop
    <i class="fas fa-download ml-2"></i>
  </a>
  <a class="btn btn-outline-white" role="button">My Shop
    <i class="fas fa-graduation-cap ml-2"></i>
  </a>
</div>
<!--/.Call to action-->





  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a  >
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a  >
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a  >
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a  >
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a  >
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a  >
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a  >
      <i class="fab fa-github mr-3"></i>
    </a>

    <a  >
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2023 Copyright:
    <a  >myshop.com </a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>

